body {
    height: 100%;
    font-size: 14px;
    font-family: "Mulish";
}

@font-face {
    font-family: "Mulish";
    src: url("./assets/fontes/Mulish-Regular.ttf");
}

@font-face {
    font-family: "Moonbright";
    src: url("./assets/fontes/moonbright-font/MoonbrightDemo-1GGn2.ttf");
}
