<section class="slider_section ">
    <div class="bg-box">
        <img class="fundo" src="/assets/images/cafe-azul.jpg" alt="">
    </div>
</section>
<footer class="footer_section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 footer-col">
                <div class="footer_contact">
                    <div class="contact_link_box">
                        <a (click)="copyText('+5516993701804')" ngbTooltip="Copiado!" triggers="click:blur">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <span>
                                +5516993701804
                            </span>
                        </a>
                        <a (click)="copyText('anm3219@gmail.com')" ngbTooltip="Copiado!" triggers="click:blur">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            <span>
                                anm3219@gmail.com
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 footer-col">
                <div class="footer_detail">
                    <div class="logo">
                        <img src="/assets/images/logo-cafe.svg" alt="Logo-Cafe" />
                        <div class="footer-info">
                            <p>
                                &copy; <span id="displayYear"></span> ANMeneghin
                            </p>
                        </div>
                    </div>
                    <p>
                        Aplicação desenvolvida em Angular por Amanda Nogueira Meneghin
                    </p>

                </div>
            </div>
            <div class="col-md-4 footer-col">
                <div class="footer_social">
                    <a href="https://www.facebook.com/amanda.meneghin.7" target="_blank">
                        <i class="fa-brands fa-facebook-f"></i>
                    </a>
                    <a href="https://github.com/anmeneghin" target="_blank">
                        <i class="fab fa-github-alt"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/anmeneghin/" target="_blank">
                        <i class="fa-brands fa-linkedin-in"></i>
                    </a>
                    <a href="https://www.instagram.com/anmeneghin/" target="_blank">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>